*{
	margin: 0;
	padding:0;
}
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
        html, html * {
          font-family: Roboto;
        }*/
body{
	/*font-family: Roboto;*/
	max-width: 768px;
	/*width: 100%;*/
	/*margin: auto;*/
	height: auto;
	/*border: 1px solid black;*/
}
#banner{
	max-width: 768px;
}
/*===================================style menu=================*/
/*.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}*/

.dropbtn{
	border: none;
	background-color: white;
}
.dropdown {
	position: relative;
	display: inline-block;
	top: 13px;
	padding-left: 35px;
}

.dropdown-content {
	text-align: center; /*them*/
	/*padding-right: 10px;  dang them dong nay*/
	margin-left: -50px;
	display: none;
	position: absolute;
	/*background-color: #079e4b;*/
	background-color: rgba(7,158,75,0.8);
	max-width:160px;

	/*border: 1px solid black;*/

	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	/*width: 200px;*/
	/*padding: 12px 16px;*/
	text-decoration: none;
	padding-top: 9px;
	padding-bottom: 9px;
	/*padding-right: 20px;*/
	line-height: 20px
	text-decoration: none;
	display: block;
	text-shadow: 1px 1px black;
	font-size: 15px
}

.dropdown-content a:hover {
	background-color: #555;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	/*background-color: #3e8e41;*/
}
/*==================================the end style menu==========*/
#function{
	text-align: center;
}