*{
	margin: 0;
	padding:0;
}
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
        html, html * {
          font-family: Roboto;
        }*/
body{
	
	/*width: 768px;*/
	/*width: auto;*/
	/*margin: auto;*/
	/*height: auto;*/
	/*border: 1px solid black;*/

}
h1, h2, h3, h4, h5, h6 {
    line-height:1.2em;
    margin:0;
    padding:0;
}
h1 {
    font-size:200%;
}
h2 {
    font-size:180%;
}
h3 {
    font-size:150%;
}
h4 {
    font-size:130%;
}
h5 {
    font-size:90%;
}
h6 {
    font-size:80%;
}
#banner{
	width: 100%;
}
/*===================================style menu=================*/
.sidenav {
    display: none;
    height: 100%;
    max-width: 450px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-bottom:1px white dotted ;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*==================================the end style menu==========*/
#product_function{
	text-align: center;
}